/** CSS STYLE **/
@font-face {
  font-family: "Neucha";
  src: url("/src/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Open-Sans";
  src: url("/src/fonts/OpenSans-Regular.ttf");
}
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--dark);
  font-family: "Open-Sans";
}

h1,
h2,
h3,
h4,
h6,
h6 {
  font-family: "Neucha";
  line-height: 1.2em;
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.header {
  position: relative;

  overflow: hidden;
}

span {
  color: var(--main);
}

.section-bg::before {
  width: 1440px;
  height: 914px;
  content: "";
  position: absolute;
  background-image: url(/src/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
  z-index: 0;
}

.header-hero {
  position: relative;
}

.header-hero h1 {
  z-index: 2;
  position: relative;
  margin-bottom: 180px;
}

.hro-desc {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.header-main {
  position: absolute;
  height: 525px;
  top: -55px;
  right: -270px;
  z-index: 0;
}

.hro-desc-left {
  width: 540px;
}

.hro-desc-rigth {
  width: 540px;
}

.hro-link {
  text-align: center;
  width: 148px;
  margin-top: 40px;
  text-decoration: none;
  padding: 12px 24px;
  background: var(--main);
  font-weight: bold;
  color: var(--white);
  display: block;
}

.section-heading {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.preview {
  left: -25%;
  top: 200px;
  position: absolute;
  width: 919px;
  height: 517px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  z-index: 4;
}
